<html>
    <head>
      {% if title %}
      <title>{{ title }} - Microblog</title>
      {% else %}
      <title>Welcome to Microblog</title>
      {% endif %}
    </head>
    <body>
        <table width="100%" style="background-color:powderblue;">
          <tr style="background-color:powderblue;">
            <td style="background-color:powderblue;">
              Microblog:
                 <a href="/index">Home</a>
                 <a href="/login">Login</a>
            </td>
          </tr>
        </table>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>

