<!doctype html>

<title>Test</title> 
<meta charset=utf-8> 
<html>
    <body>
        <h2><center>Test 1.3</center></h2>
            <table border="1">
                <tr>
                    <td><a href="/my-link/">Click me (my-link)</a></td>
                    <td><input type="text" name="html_text" value="html text" style="background-color:blue;color:white;"></td>
                </tr>
                <tr>
                    <td><a href="{{ url_for ('my_page',user='jilda') }}" id="page">Page</a></td>
                    <td>page result</td>
                </tr>
                <tr>
                    <form action="" method="POST">
                        <td><input type="text" id="fname" name="firstname" placeholder="Your name.."></td>
                        <td>
                            <a href="{{ url_for ('my_table_row') }}" id="cell">Table Click</a>
<!--        -->
                            </td>
                        {% if click_result == 'clicked' %}
                            <td>click result not null</td>
                        {% else %}
                            <td>cell result <b>is null</b></td>
                        {% endif %}
                    </form>
                </tr>
            </table>
    </body>
</html>

